body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
      background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uat
{
	text-align:center;
}

.background {
    background-image: url('https://wallpaperaccess.com/full/3145417.jpg'); /* Replace 'your_background_image.jpg' with your image file */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: white; /* Adjust transparency as needed */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
label
{
	color:black;
}
